<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style type="text/css" media="screen">
		body {
			padding: 0;
			background-color: #000000;
			background-image: url("images/bg.png");
			background-repeat: no-repeat;	
			background-position: 50% -317px;
			font-family: "Verdana";
			font-size: 13px;
			color: #ffffff;
		}
		
		a img, img:link, img:visited, img:hover, a:link, a:visited, a:hover {
			text-decoration: none !important;
			background-color: transparent;
			border: 0px;
			cursor: pointer;			
		}

		#content a, #content a:hover {
			text-decoration: none !important;
			background-color: transparent;
			cursor: pointer;
		}

		#page {
			margin: 0 auto;
		}

		#content {
			margin: 0 auto;
		}

		#body_content {
			margin: 80px auto;
			text-align: center;
			width: 850px;
		}

		#left_bar {
			width: 310px;
			float: left;		
		}

		#player {
			/* margin: 85px 0 0 200px; */
		}

		#twitter {
			clear: left;
			margin: 45px 0 0 0;
		}

		a:hover {
			background-color: #03c;
			color: white;
			text-decoration: none !important;
		}

		#logo {
			margin: 30px auto;
			width: 100%;
			text-align: center;
			height: 158px;
			padding: 0 0 0 5px;
		}

		#sidebar {
			float: right;
			width: 175px;
		}

		#links {
			margin: 0px auto;
			width: 900px;
			text-align: center;
			height: 18px;
			padding-top: 1px;
		}

		.link {
			float: left;
			height: 18px;
		}
		
		.link:hover {
			margin-top: -4px;
			height: 24px;			
		}

		#toplink_music {
			background-image: url("images/links/link_music.png");
			background-repeat: no-repeat;
			width: 83px;
			margin-left: 15px;
		}

		#toplink_music:hover {
			background-image: url("images/links/link_music_over.png");
			width: 113px;
			margin-left: -15px;
		}	

		#toplink_shows {
			background-image: url("images/links/link_shows.png");
			background-repeat: no-repeat;		
			width: 97px;
			margin-left: 45px;
		}	

		#toplink_shows:hover {
			background-image: url("images/links/link_shows_over.png");
			width: 126px;
			margin-left: 16px;
		}	

		#toplink_facebook {
			background-image: url("images/links/link_facebook.png");
			background-repeat: no-repeat;		
			width: 145px;
			margin-left: 48px;
		}

		#toplink_facebook:hover {
			background-image: url("images/links/link_facebook_over.png");
			width: 175px;
			margin-left: 18px;		
		}

		#toplink_itunes {
			background-image: url("images/links/link_itunes.png");
			background-repeat: no-repeat;		
			width: 94px;
			margin-left: 52px;
		}

		#toplink_itunes:hover {
			background-image: url("images/links/link_itunes_over.png");
		}		

		#toplink_bio {
			background-image: url("images/links/link_bio.png");
			background-repeat: no-repeat;		
			width: 44px;
			margin-left: 57px;
		}	

		#toplink_bio:hover {
			background-image: url("images/links/link_bio_over.png");
		}	

		#toplink_photos {
			background-image: url("images/links/link_photos.png");
			background-repeat: no-repeat;		
			width: 109px;
			margin-left: 47px;
		}	

		#toplink_photos:hover {
			background-image: url("images/links/link_photos_over.png");
			width: 140px;
			margin-left: 16px;
		}
		
		#toplink_shop {
			background-image: url("images/links/link_shop.png");
			background-repeat: no-repeat;		
			width: 72px;
			margin-left: 45px;
		}	

		#toplink_shop:hover {
			background-image: url("images/links/link_shop_over.png");
			width: 104px;
			margin-left: 13px;	
			margin-top: -3px;		
		}			
		
		#toplink_contact {
			background-image: url("images/links/link_contact.png");
			background-repeat: no-repeat;		
			width: 129px;
			margin-left: 45px;
		}	

		#toplink_contact:hover {
			background-image: url("images/links/link_contact_over.png");
			width: 158px;
			margin-left: 16px;			
		}		

		#footer {
			clear: both;
		}   

		#maintext {
			width: 500px;
			float: right;
		} 

		.twtr-tweet-text, .twtr-hd {
			font-family: Verdana, Arial, Helvetica !important;
			font-size: 13px !important;
		}

		.twtr-tweet {
			padding: 4px 0;
			border-bottom: 1px dotted #4AFFC3 !important;
		}

		.twtr-tweet:last-child {
			border-bottom-width: 0px !important;
		}

		.twtr-join-conv {
			margin-top: 4px;
			font-size: 10px;
		}

		.twtr-hd h4 a {
			float: left;
			margin: 2px 0 0 0;	
		}

		.twtr-hd h3 {
			color: #FF0049 !important;
		}
	
		#songs {
			margin-top: -25px;
		}
		.song {
			float: left;
			margin: 25px 0 0 0;
		}
		.title {
			text-align: left;
			float: left;
			margin: 0 0 8px 0px;
		}
		.title a {
			color: #4AFFC3;
		}
		.fb_like {
			float: left;
			margin: 10px 0 0 0;
		}	
	    #shows {
	      	font-family: "Verdana";
	      	font-size: 13px;
	    	color: #ffffff;
			margin: -18px 0 0 20px;
	    }
		.show {
			clear: both;
			float: left;
			margin-top: 18px;
		}
		.date {
			color: #FF0049;
		}
		.show_divider {
			padding: 0px 10px;
		}
		.venue {
			color: #4AFFC3;
		}
		.location {
			
		}
		.line1 div, .line1 a, .line2 div {
			float: left;
			text-align: left;
		}
		.line1 {
			clear: both;
			float: left;
		}
		.line2 {
			clear: both;
			float: left;
			margin: 2px 0 0 0;
		}      
    </style>
    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
    <script type="text/javascript">
		
		function xhrHandler(display) {
			if (this.readyState != 4) {
			    return;
			}
			if (this.status != 200) {
			    alert('Error!');
			    return;
			}			
			
			var newdiv = document.createElement("div");
			newdiv.innerHTML = this.responseText;
			var container = document.getElementById("maintext");
			container.appendChild(newdiv);	
			
			var tags = document.getElementById('maintext').getElementsByTagName("script");
			var len = tags.length;
			for (var x = 0; x < len; x++) {
				var newScript = document.createElement('script');
				newScript.type = "text/javascript";
				newScript.text = tags[x].text;
				document.getElementById('maintext').appendChild(newScript);	
			}						
		}
		
		function cleanMaintext() {
			while (document.getElementById("maintext").childNodes[0]) {
				var c = document.getElementById("maintext").childNodes[0];
				document.getElementById("maintext").removeChild(c);
			}
			// document.getElementById("maintext").update();
		}
		
		function formatXHR(url) {
			cleanMaintext();
		    var xhr = new XMLHttpRequest();
		    xhr.onreadystatechange = xhrHandler;
		    xhr.open("GET", url);
		    xhr.send();			
		}

		function displayMusic() {
		    url = "site/show_music";
			formatXHR(url);
		}
		
		function displayShows() {
		    url = "site/show_shows";
			formatXHR(url);
		}
		
		function displayFacebook() {
			window.open("http://www.facebook.com/pages/Lilly-Wolf-and-Dr-Nu/262243687143250");		
		}	
		
		function displayItunes() {
			url = "site/show_comingsoon"
			formatXHR(url);
		}	
		
		function displayBio() {
			url = "site/show_comingsoon"
			formatXHR(url);			
		}
		
		function displayPhotos() {
			url = "site/show_comingsoon"
			formatXHR(url);			
		}
		
    </script>
  </head>
  <body>
    <div id="page">
      <div id="content">
        <div id="logo">
 			<a href="site"><img src="images/logo.png" /></a>
        </div>
		<div id="links">
			<div class="link" id="toplink_music" onclick="displayMusic()" ></div>
			<div class="link" id="toplink_shows" onclick="displayShows()" ></div>
			<div class="link" id="toplink_facebook" onclick="displayFacebook()" ></div>
			<div class="link" id="toplink_photos" onclick="displayItunes()" ></div>
			<div class="link" id="toplink_shop" onclick="displayBio()" ></div>
			<div class="link" id="toplink_contact" onclick="displayPhotos()" ></div>
		</div>

		<div id="body_content">
			<div id="left_bar">
		        <div id="player">
					<div id="flashContent">
						<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="306" height="246" id="lillywolf_player" align="middle">
							<param name="movie" value= "/swfs/musicplayer/lillywolf_player.swf" />
							<param name="quality" value="high" />
							<!--param name="bgcolor" value="#000000" /-->
							<param name="play" value="true" />
							<param name="loop" value="true" />
							<param name="wmode" value="transparent" />
							<param name="scale" value="showall" />
							<param name="menu" value="true" />
							<param name="devicefont" value="false" />
							<param name="salign" value="" />
							<param name="allowScriptAccess" value="sameDomain" />
							<!--[if !IE]>-->
							<object type="application/x-shockwave-flash" data="/swfs/musicplayer/lillywolf_player.swf" width="306" height="246">
								<param name="movie" value="/swfs/musicplayer/lillywolf_player.swf" />
								<param name="quality" value="high" />
								<!--param name="bgcolor" value="#000000" /-->
								<param name="play" value="true" />
								<param name="loop" value="true" />
								<param name="wmode" value="transparent" />
								<param name="scale" value="showall" />
								<param name="menu" value="true" />
								<param name="devicefont" value="false" />
								<param name="salign" value="" />
								<param name="allowScriptAccess" value="sameDomain" />
							<!--<![endif]-->
								<a href="http://www.adobe.com/go/getflash">
									<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
								</a>
							<!--[if !IE]>-->
							</object>
							<!--<![endif]-->
						</object>
					</div>
		   		</div>
        
		        <div id="twitter">
					<script src="http://widgets.twimg.com/j/2/widget.js"></script>
					<script>
					new TWTR.Widget({
					  version: 2,
					  type: 'profile',
					  rpp: 4,
					  interval: 30000,
					  width: 296,
					  height: 300,
					  theme: {
					    shell: {
					      background: '#00021a',
					      color: '#ffffff'
					    },
					    tweets: {
					      background: '#00021a',
						  color: '#C4F9FF',
					      links: '#FF0049'
					    }
					  },
					  features: {
					    scrollbar: false,
					    loop: false,
					    live: false,
					    hashtags: true,
					    timestamp: true,
					    avatars: false,
					    behavior: 'all'
					  }
					}).render().setUser('lillywolf_drnu').start();
					</script>
				</div>
			</div>	

			<div id="maintext">
				<% @songs = Song.all.reverse %>
				<%= render :partial => "music", :locals => { :songs => @songs } %>
			</div>				
			
						
			</div>
		</div>	
    
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>