<html>
	<body>
		<style>
			#toplink_shows {
				background-image: url("images/links/link_shows_over.png");
				width: 126px;
				margin-left: 16px;
				margin-top: -4px;
				height: 24px;
			}		
		</style>
		<div id="shows">
			<% @shows.each do |show| %>
				<div class="show">
					<div class="line1">
						<div class="date"><%= show.date %></div>
						<div class="show_divider">::</div>
						<a class="venue"><%= show.venue %></a>
						<div class="show_divider">::</div>
						<div class="location"><%= show.location %></div>
					</div>
					<div class="line2">	
						<div class="time"><%= show.details %></div>
					</div>	
				</div>	
			<% end %>	
		</div>
	</body>
</html>	